* {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: $fontBarlow;
  margin: 0;
}

.hero-banner {
  width: 100%;
  height: 100vh;
  max-height: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 34px 40px;
  background: url('../images/desktop/image-header.jpg') no-repeat bottom center / cover;

  @media (max-width: $mobileBreakpoint) {
    background-image: url('../images/mobile/image-header.jpg');
    max-height: 538px;
    padding: 32px 24px;
  }

  .header {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 105px;

    @media (max-width: $mobileBreakpoint) {
      margin-bottom: 88px;
    }

    .logo {
      display: flex;

      .logo-img {
        height: 33px;

        @media (max-width: $mobileBreakpoint) {
          height: 24px;
        }
      }
    }

    .nav-links {
      display: flex;
      align-items: center;

      @media (max-width: $mobileBreakpoint) {
        position: absolute;
        top: calc(100% + 55px);
        right: 0;
        width: 100%;
        max-width: 330px;
        padding: 40px;
        background-color: #FFFFFF;
        display: flex;
        flex-direction: column;
        align-items: center;
        transform: translateY(-24px);
        opacity: 0;
        pointer-events: none;
        transition: transform ease-out .2s;

        &:before {
          content: '';
          position: absolute;
          top: -24px;
          right: 0;
          width: 24px;
          height: 24px;
          background-position: bottom right;
          background-size: contain;
          background-image: url("data:image/svg+xml;charset=utf8,%3Csvg fill='none' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0 24L24 0v24H0z' fill='%23fff'/%3E%3C/svg%3E");
        }

        &.is-active {
          transition: transform ease-out .2s, opacity ease-out .2s;
          transform: translateY(0);
          opacity: 1;
          pointer-events: auto;
        }
      }

      .nav-link {
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 25px;
        letter-spacing: -0.128571px;
        color: #FFFFFF;
        margin-right: 47px;
        text-decoration: none;

        @media (max-width: $mobileBreakpoint) {
          font-size: 20px;
          letter-spacing: -0.142857px;
          color: #808397;
          margin-bottom: 32px;
          margin-right: 0;
        }
      }

      .nav-button {
        font-family: $fontFraunces;
        font-style: normal;
        font-weight: bold;
        font-size: 15px;
        line-height: 25px;
        letter-spacing: -0.107143px;
        text-transform: uppercase;
        color: #24303E;
        padding: 16px 30px;
        background-color: #FFFFFF;
        border-radius: 28px;
        text-decoration: none;
        transition: background-color ease-out .2s, color ease-out .2s;

        &:hover {
          background-color: rgba(#FFFFFF, 0.25);
          color: #FFFFFF;
        }

        @media (max-width: $mobileBreakpoint) {
          background: #FBD600;
        }
      }
    }

    .nav-burger {
      display: none;

      @media (max-width: $mobileBreakpoint) {
        display: flex;
      }

      img {
        height: 18px;
      }
    }
  }

  .main-heading {
    font-family: $fontFraunces;
    font-style: normal;
    font-weight: 900;
    font-size: 56px;
    line-height: 69px;
    text-align: center;
    letter-spacing: 8.75px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 0 0 96px;

    @media (max-width: $mobileBreakpoint) {
      font-size: 40px;
      line-height: 49px;
      letter-spacing: 6.25px;
      margin-bottom: 52px;
    }
  }

  .hero-arrow {
    display: flex;
    cursor: pointer;

    .hero-arrow-img {
      height: 107px;
    }
  }
}

.text-image-grid {
  width: 100%;
  display: flex;
  flex-direction: column;

  .grid-line {
    width: 100%;
    display: flex;
    align-items: stretch;

    @media (max-width: $mobileBreakpoint) {
      flex-direction: column-reverse;
    }

    &:nth-child(even) {
      flex-direction: row-reverse;

      @media (max-width: $mobileBreakpoint) {
        flex-direction: column-reverse;
      }
    }

    .text-container {
      width: 50%;
      background-color: #FFFFFF;
      padding: 64px 24px;
      display: flex;
      align-items: center;
      justify-content: center;

      @media (max-width: $mobileBreakpoint) {
        width: 100%;
      }

      .text-wrapper {
        width: 100%;
        max-width: 445px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        @media (max-width: $mobileBreakpoint) {
          align-items: center;
        }

        .grid-heading {
          font-family: $fontFraunces;
          font-style: normal;
          font-weight: 900;
          font-size: 40px;
          line-height: 49px;
          letter-spacing: -0.285714px;
          color: #24303E;
          margin: 0 0 32px;

          @media (max-width: $mobileBreakpoint) {
            font-size: 32px;
            line-height: 39px;
            text-align: center;
            letter-spacing: -0.228571px;
            margin-bottom: 24px;
          }
        }

        .grid-text {
          font-style: normal;
          font-weight: 600;
          font-size: 18px;
          line-height: 30px;
          letter-spacing: -0.128571px;
          color: #808397;
          margin: 0 0 40px;

          @media (max-width: $mobileBreakpoint) {
            font-size: 18px;
            line-height: 30px;
            text-align: center;
            margin-bottom: 32px;
          }
        }

        .grid-link {
          position: relative;
          padding: 0 8px;
          font-family: $fontFraunces;
          font-style: normal;
          font-weight: 900;
          font-size: 15px;
          line-height: 25px;
          letter-spacing: 1px;
          text-transform: uppercase;
          color: #24303E;
          text-decoration: none;

          &:hover {
            &:before {
              opacity: 1;
            }
          }

          &:before {
            content: '';
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            height: 10px;
            background: #FAD400;
            mix-blend-mode: normal;
            opacity: 0.25;
            border-radius: 28px;
            transition: opacity ease-out .2s;
          }

          span {
            position: relative;
          }

          &.red {
            &:before {
              background: #FE7766;
            }
          }
        }
      }
    }

    .image-container {
      width: 50%;
      display: flex;

      @media (max-width: $mobileBreakpoint) {
        width: 100%;
        max-height: 400px;
      }

      .grid-image {
        width: 100%;
        object-fit: cover;
        object-position: center center;
      }
    }
  }
}

.split-grid {
  width: 100%;
  display: flex;
  align-items: stretch;

  @media (max-width: $mobileBreakpoint) {
    flex-direction: column;
  }

  .split-item {
    position: relative;
    width: 50%;
    height: 600px;
    display: flex;
    justify-content: center;

    @media (max-width: $mobileBreakpoint) {
      width: 100%;
    }

    &:nth-child(even) {
      .split-content {
        .split-heading {
          color: #052C3B;
        }

        .split-text {
          color: #052C3B;
        }
      }
    }

    .split-image {
      width: 100%;
      object-position: center center;
      object-fit: cover;
    }

    .split-content {
      position: absolute;
      left: 50%;
      bottom: 59px;
      transform: translateX(-50%);
      display: flex;
      flex-direction: column;
      align-items: center;
      width: calc(100% - 48px);
      max-width: 339px;

      .split-heading {
        font-family: $fontFraunces;
        font-style: normal;
        font-weight: 900;
        font-size: 28px;
        line-height: 35px;
        text-align: center;
        letter-spacing: -0.2px;
        color: #24554A;
        margin: 0 0 27px;
      }

      .split-text {
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 27px;
        text-align: center;
        letter-spacing: -0.114286px;
        color: #24554A;
        margin: 0;
      }
    }
  }
}

.testimonials {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 160px 24px;

  @media (max-width: $mobileBreakpoint) {
    padding: 64px 24px;
  }

  .testimonials-container {
    width: 100%;
    max-width: 1110px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .testimomials-heading {
      font-family: $fontFraunces;
      font-style: normal;
      font-weight: 900;
      font-size: 20px;
      line-height: 25px;
      text-align: center;
      letter-spacing: 5px;
      color: #A7AAAD;
      text-transform: uppercase;
      margin: 0 0 81px;

      @media (max-width: $mobileBreakpoint) {
        font-size: 16px;
        line-height: 20px;
        letter-spacing: 4px;
        margin-bottom: 64px;
      }
    }

    .testimonials-list {
      width: 100%;
      display: flex;
      align-items: stretch;
      justify-content: space-between;

      @media (max-width: $mobileBreakpoint) {
        flex-direction: column;
      }

      .testimonials-item {
        width: calc((100% - 60px) / 3);
        min-height: 351px;
        display: flex;
        flex-direction: column;
        align-items: center;

        @media (max-width: $mobileBreakpoint) {
          width: 100%;
          min-height: auto;
          margin-bottom: 98px;

          &:last-child {
            margin-bottom: 0;
          }
        }

        .item-image {
          width: 72px;
          height: 72px;
          border-radius: 72px;
          object-position: center center;
          object-fit: cover;
          margin-bottom: 58px;

          @media (max-width: $mobileBreakpoint) {
            margin-bottom: 32px;
          }
        }

        .item-text {
          flex: 1;
          font-style: normal;
          font-weight: 600;
          font-size: 18px;
          line-height: 32px;
          text-align: center;
          letter-spacing: -0.128571px;
          color: #5B636D;
          margin: 0 0 32px;

          @media (max-width: $mobileBreakpoint) {
            max-width: 330px;
          }
        }

        .item-name {
          font-family: $fontFraunces;
          font-style: normal;
          font-weight: 900;
          font-size: 18px;
          line-height: 22px;
          text-align: center;
          letter-spacing: -0.128571px;
          color: #24303E;
          margin: 0 0 9px;
        }

        .item-ref {
          font-style: normal;
          font-weight: 600;
          font-size: 14px;
          line-height: 25px;
          text-align: center;
          letter-spacing: -0.1px;
          color: #A7AAAD;
          margin: 0;
        }
      }
    }
  }
}
